#nav, #nav ul, #nav ul li{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    line-height: 1;
    display: block;
    position: relative;
}

#nav {
    border-bottom: 3px solid #333333;
    padding: 0 5px;
    width: auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: #dddddd;
}

#nav:after, #nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 
}

#nav ul li {
    display: inline-block;
}

#nav.align-right ul li {
    float: right;
}

#nav ul li a {
    font-size: 0.9em;
    padding: 15px;
    color: #0e83cd;
}

#nav ul li:hover a, #nav ul li a:hover, #nav ul li.active a {
    color: #333333;
}

@media all and (max-width: 640px) {
    #nav {
        padding 0;
        border: 0;
    }
    
    #nav ul li, #nav.align-center, #nav.align-right {
        display: block;
    }
}