@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hl0idt');
	src:url('../fonts/icomoon.eot?#iefixhl0idt') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hl0idt') format('woff'),
		url('../fonts/icomoon.ttf?hl0idt') format('truetype'),
		url('../fonts/icomoon.svg?hl0idt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    color: black;
    font-size: 2em;
}

.icon-menu:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e600";
}
#menuButton a{
	cursor:pointer;
	transition:all 0.2s;
}
#menuButton a:hover{
	color:#f06;
}
#closeButton a:hover{
	color:#f06;
	cursor:pointer;
}
